

/*~~~Game~~~*/
html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 190, 137);
}

h1,h3,p {
    color: #0f213b;
}

#main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-bottom: 77px;
    /*border: dashed;*/
    overflow: auto;
}

#play-area{
    display: flex;
    flex-direction: column;
    gap: 21px;
    border: dashed;
}

.play-area-layer{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 11px;
    width: auto;
    height: auto;
    /*border: dashed;*/
}

#layer-one{
    display: flex;
    flex-direction: column;
}

#layer-three{
    display: flex;
    flex-direction: column;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed;
}


/*~~~PLAYER CARDS~~~*/

.cowboy-cards-hand{
    display: flex;
    align-items: start;
    justify-content: center;
    border: dashed;
}

#player-cards-two{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: dashed;
}

#player-cards-three{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: dashed;
}

.cards-back-one{
    transform: translate(41px, 10px) rotate(-25deg);
}

.cards-back-two{
    transform: translate(19px, 3px) rotate(-15deg);
}

.cards-back-three{
    transform: rotate(1deg);
}

.cards-back-four{
    transform: translate(-19px, 4px) rotate(17deg);
}

.cards-back-five{
    transform: translate(-41px, 11px) rotate(25deg);
}

/*~~~USER CARDS~~~*/

#user-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed;
}

.user-individual-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.user-individual-rank{
    display: flex;
    justify-content: left;
    align-items: center;
}

/*USER CARD FIRST*/
#user-cards-first{
    transform: translate(42px, 11px) rotate(-25deg);
}

/*USER CARD SECOND*/
#user-cards-second{
    transform: translate(18px, 3px) rotate(-15deg);
}

/*USER CARD THIRD*/
#user-cards-third{
    transform: rotate(3deg);
}

/*USER CARD FOURTH*/
#user-cards-fourth{
    transform: translate(-17px, 4px) rotate(17deg);
}

/*USER CARD FIFTH*/
#user-cards-fifth{
    transform: translate(-43px, 11px) rotate(25deg);
}

/*~~~PLAYER PROFILES~~~*/

.player-images{
    border-radius: 125px;
    background-position: bottom;
    border: dashed;
}
.player-name-label{
    margin: 7px;
}

.player-coins-label{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0;
    /*border: dashed;*/
}

.coin{
    border-radius: 12.5px;
    /*border: dashed;*/
}

.player-number-total{
    font-size: 21px;
    margin: 0;
}
