

/*~~~Game~~~*/
html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 190, 137);
}

h1,h3,p,b {
    color: #0f213b;
}

#main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-bottom: 77px;
    /*border: dashed;*/
    overflow: auto;
}

#play-area{
    display: flex;
    flex-direction: column;
    gap: 21px;
    border: dashed;
}

.play-area-layer{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 11px;
    width: auto;
    height: auto;
    /*border: dashed;*/
}

#layer-one{
    display: flex;
    flex-direction: column;
}



#table{
    position: relative;
}

/*~DECK OF CARDS~*/
#cards-deck-one{
    position: absolute;
    top: 30%;
    left: 63%;
    transform: rotate(13deg);
}

#cards-deck-two{
    position: absolute;
    top: 30%;
    left: 63%;
    transform: rotate(10deg);
}

#cards-deck-three{
    position: absolute;
    top: 30%;
    left: 63%;
    transform: rotate(15deg);
}

#layer-three{
    display: flex;
    flex-direction: column;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed;
}


/*~~~PLAYER CARDS~~~*/

#player-cards-one{
    display: flex;
    height: 65px;
    position: relative;
    align-items: start;
    justify-content: center;
    border: dashed;
}

.player-cards-one-hand{
    position: absolute;
    z-index: 1;
    border: dashed;
}

#player-cards-two{
    display:flex;
    width: 65px;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: dashed;
}

.player-cards-two-hand{
    position: absolute;
    z-index: 1;
    border: dashed;
}

#player-cards-three{
    display:flex;
    width: 65px;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: dashed;
}

.player-cards-three-hand{
    position: absolute;
    z-index: 1;
    border: dashed;
}

/*~~~USER CARDS~~~*/

#user-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed;
}

.user-button{
    background-color: antiquewhite;
    padding: 15px 32px;
    cursor: pointer;
    font-size: 27px;
    border: 5px solid rgb(136, 64, 22);
    border-radius: 3px;
}

.user-button:hover{
    box-shadow: 0 0 13px 5px rgb(88, 80, 71);
}

.user-button:active {
    background-color: rgb(202, 191, 176);
    box-shadow: 0 0 13px 5px rgb(88, 80, 71);
    transform: scale(.95, .7);
}

/*~~~Player One cardFlick Animation~~~*/

@keyframes cardFlickPlayerOneFirst{ 
    from {top: 152px; left:0px}
    to   {top: 185px; left: 115px; rotate: 50deg}
}

@keyframes cardFlickPlayerOneSecond{
    from {top: 157px; left:0px}
    to   {top: 180px; left: 115px; rotate: 27deg}
}

@keyframes cardFlickPlayerOneThird{
    from {top: 157px; left:0px}
    to   {top: 163px; left: 117px; rotate: -15deg}
}

@keyframes cardFlickPlayerOneFourth{
    from {top: 157px; left:0px}
    to   {top: 170px; left:113px; rotate: -40deg}
}

@keyframes cardFlickPlayerOneFifth{
    from {top: 157px; left:0px}
    to   {top: 165px; left: 147px; rotate: 31deg}
}

/*~~~Player Two cardFlick Animation~~~*/

@keyframes cardFlickPlayerTwoFirst{ 
    from {top: 152px; left:0px}
    to   {top: 185px; left: 115px; rotate: 50deg}
}

@keyframes cardFlickPlayerTwoSecond{
    from {top: 157px; left:0px}
    to   {top: 180px; left: 115px; rotate: 27deg}
}

@keyframes cardFlickPlayerTwoThird{
    from {top: 157px; left:0px}
    to   {top: 163px; left: 117px; rotate: -15deg}
}

@keyframes cardFlickPlayerTwoFourth{
    from {top: 157px; left:0px}
    to   {top: 170px; left:113px; rotate: -40deg}
}

@keyframes cardFlickPlayerTwoFifth{
    from {top: 157px; left:0px}
    to   {top: 165px; left: 147px; rotate: 31deg}
}

/*~~~Player Three cardFlick Animation~~~*/

@keyframes cardFlickPlayerThreeFirst{ 
    from {top: 152px; left:0px}
    to   {top: 143px; left: -111px; rotate: 11deg}
}

@keyframes cardFlickPlayerThreeSecond{
    from {top: 157px; left:0px}
    to   {top: 180px; left: -115px; rotate: 27deg}
}

@keyframes cardFlickPlayerThreeThird{
    from {top: 157px; left:0px}
    to   {top: 163px; left: -117px; rotate: -15deg}
}

@keyframes cardFlickPlayerThreeFourth{
    from {top: 157px; left:0px}
    to   {top: 184px; left:-113px; rotate: -40deg}
}

@keyframes cardFlickPlayerThreeFifth{
    from {top: 157px; left:0px}
    to   {top: 212px; left: -147px; rotate: 31deg}
}

#button-wrapper-first, #button-wrapper-second{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 33px;
    border: dashed;
}


.user-individual-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid;
    border-color:rgb(116, 40, 40);
    cursor: pointer;
    
}

.user-individual-card:hover{
    box-shadow: 0 0 13px 5px rgb(88, 80, 71);
    z-index: 10;
}

.user-individual-rank{
    display: flex;
    justify-content: left;
    align-items: end;
    padding-left: 5px;
    /*border: dashed;*/
}

/*~~~PLAYER PROFILES~~~*/

.player-images{
    border-radius: 125px;
    background-position: bottom;
    border: dashed;
}
.player-name-label{
    margin: 7px;
}

.player-coins-label{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0;
    /*border: dashed;*/
}

.coin{
    border-radius: 12.5px;
    /*border: dashed;*/
}

.player-number-total{
    font-size: 21px;
    margin: 0;
}
