

/*~~~Game~~~*/
html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 190, 137);
}

h1,h3,p,b {
    color: #0f213b;
}

#main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-bottom: 77px;
    /*border: dashed;*/
    overflow: auto;
}

#play-area{
    display: flex;
    flex-direction: column;
    gap: 21px;
    border: dashed;
}

.play-area-layer{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 11px;
    width: auto;
    height: auto;
    /*border: dashed;*/
}

#layer-one{
    display: flex;
    flex-direction: column;
}

#table{
    position: relative;
}

#cards-deck{
    position: absolute;
    top: 30%;
    left: 41%;
}

#layer-three{
    display: flex;
    flex-direction: column;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: dashed;
}


/*~~~PLAYER CARDS~~~*/

#player-cards-one{
    display: flex;
    align-items: start;
    justify-content: center;
    border: dashed;
}

#player-cards-two{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: dashed;
}

#player-cards-three{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: dashed;
}

/*~~~USER CARDS~~~*/

#user-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed;
}

.user-button{
    background-color: antiquewhite;
    padding: 15px 32px;
    cursor: pointer;
    font-size: 27px;
    border: 5px solid rgb(136, 64, 22);
    border-radius: 3px;
}

#button-wrapper-first, #button-wrapper-second{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: 33px;
    border: dashed;
}

#button-wrapper-first:hover{
    box-shadow: 0 0 13px 5px rgb(88, 80, 71);
}

#button-wrapper-second:hover{
    box-shadow: 0 0 13px 5px rgb(88, 80, 71);
}

.user-individual-card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid;
    border-color:rgb(116, 40, 40);
    cursor: pointer;
    
}

.user-individual-card:hover{
    box-shadow: 0 0 13px 5px rgb(88, 80, 71);
    z-index: 10;
}

.user-individual-rank{
    display: flex;
    justify-content: left;
    align-items: end;
    padding-left: 5px;
    /*border: dashed;*/
}

.user-individual-rank:hover{
    box-shadow: 0 0 13px 5px rgb(88, 80, 71) inset;
}

/*~~~PLAYER PROFILES~~~*/

.player-images{
    border-radius: 125px;
    background-position: bottom;
    border: dashed;
}
.player-name-label{
    margin: 7px;
}

.player-coins-label{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0;
    /*border: dashed;*/
}

.coin{
    border-radius: 12.5px;
    /*border: dashed;*/
}

.player-number-total{
    font-size: 21px;
    margin: 0;
}
