

/*~~~ MAIN MENU ~~~*/
html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 190, 137);
}

#main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-bottom: 77px;
    /*border: dashed;*/
    overflow: auto;
}

#image-saloon{
    /*border:inset;*/
    border-style: double;
    border-width: 7px;
    border-color: rgb(245, 193, 126);
}

h1,p {
    color: #0f213b;
}

.main-name-wrapper{
    display: flex;
    margin-bottom: 9px;
    /*border: dashed;*/
}

.main-name{
    display: block;
    width: 77px;
    margin-right: 7px;
    color: #0f213b;
    /*border: dashed;*/
}

.main-name-textbox{
    background-color: rgb(233, 160, 100);
    color: #0f213b;
}

#submit-button-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 21px;
    /*border: dashed;*/
}

#submit-button{
    background-color: #b3a88f;
    border: solid;
    border-color: #bcc4a9;
    border-radius: 47%;
    font-family: "Impact", Arial, sans-serif;
    font-size: 27px;
    cursor: pointer;
}

#submit-button:hover{
    background-color: #c2b79b;
    border-color: #adb49c;
    font-size: 29px;
}